<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="bill">
            <div class="bill-head">
                <div class="brandName">MyRestaurant</div>
                <div class="contact">
                    <div class="address">
                        Add : 323 Đỗ Xuân Hợp, Phước Long B, Q9
                    </div>
                    <div class="phone">
                        Phone: 0132901238401
                    </div>
                </div>
                <div class="receipt"> <span>**</span> Receipt <span>**</span> </div>
                <div class="table-info flex-between">
                    <div class="table-number">
                        Số bàn: 35
                    </div>
                    <div class="number-customer">
                        Số khách: 7
                    </div>
                </div>
            </div>
            <div class="bill-content">
                <div class="product flex-between">
                    <div class="product-info">
                        <div class="quantity">1</div>
                        <div class="product-name">Trà Thạch Đào M</div>
                    </div>
                    <div class="price">55.000</div>
                </div>
                <div class="product flex-between">
                    <div class="product-info">
                        <div class="quantity">1</div>
                        <div class="product-name">Trà Thạch Đào S</div>
                    </div>
                    <div class="price">40.000</div>
                </div>
                <div class="total flex-between">
                    <div class="total-name">Total</div>
                    <div class="total-price">95.000</div>
                </div>
                <div class="cash flex-between">
                    <div class="cash-name">Cash</div>
                    <div class="cash-price">100.000</div>
                </div>
                <div class="amt flex-between">
                    <div class="amt-name">Change amt</div>
                    <div class="amt-price">5.000</div>
                </div>
            </div>
            <div class="bill-footer">
                1. Thời gian kinh doanh của nhà hàng: 10:00 - 24:00. Nếu có mọi thắc mắc xin vui lòng liên hệ
                0921728112. Phiếu này có giá trị xuất hóa đơn GTGT trong ngày
            </div>
        </div>

    </div>
</body>

</html>