<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./public/css/style.css">
  <title>Page for Login</title>
</head>

<body>
  <div class="container-login ">
    <div class="login-form">
        <div class="form">
            <h2 class="form-title text-center">Welcome</h2>
            <div class="form-field">
                <input type="text" class="login-name" placeholder=" ">
                <label for="name" class="formlabel">Email</label>
            </div>
            <div class="form-field">
                <input type="password" class="login-password" placeholder=" ">
                <label for="name" class="formlabel">Password</label>
            </div>
            <button class="login-btn">Login</button>
            <div class="text-center another">
                <span class="no-account">Don't have an account?</span>
                <a href="./Choose.html" class="sign-up">Sign Up</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>