<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./public/css/style.css">
  <title>Page for Register</title>
</head>

<body>

  <div class="container-signup">
    <div class="signup-form">
      <div class="form">
        <h2 class="form-title text-center">Welcome</h2>
        <h1 id="demo" style="color: red; text-align: center;"></h1>

        <div class="form-field">
          <input type="text" class="signup-name" placeholder="Enter name" name="name" id="name">
          <label for="name" class="formlabel">Name</label>
        </div>
        <div class="form-field">
          <input type="text" class="signup-name" placeholder=" " name="email" id="email">
          <label for="name" class="formlabel">Email</label>
        </div>
        <div class="form-field">
          <input type="password" class="sigup-password" placeholder=" " name="password" id="password">
          <label for="name" class="formlabel">Password</label>
        </div>
        <button type="submit" id="Create" onclick="Click();" class="signup-btn">Signup</button>

      </div>
    </div>
  </div>