<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sơ đồ bàn</title>
</head>

<body>
    <div class="container">
        <div class="content" id="NT">

        </div>
    </div>
    <footer>
        <div class="left">
            <button onclick="Back()">Đặt bàn</button>
            <button onclick="Click()">Thông tin đặt</button>
        </div>
        <div class="right">
            <button>In hóa đơn</button>
        </div>
    </footer>

    <style>
        body {
            margin: 0;
        }

        .container {
            height: 85vh;
            background-color: #A8A8A8;
            overflow-y: auto;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;
            margin: 0 15rem;
        }

        .table {
            margin: 10px;
            height: 10rem;
            width: 8rem;
            background-color: yellow;
            border: 1px solid #FE6244;
            border-radius: 2px;
            cursor: pointer;
            text-decoration: none;
        }

        .title {
            font-weight: 700;
            padding: 5px;
            border-bottom: 1px solid #FE6244;
            text-align: center;

        }

        .descripstion {
            text-align: center;
        }

        footer {
            background-color: #F4B183;
            height: 15vh;
            display: flex;
            justify-content: space-between;
        }

        .left {
            display: flex;
        }

        button {
            height: 100%;
            width: 10rem;
            margin: 0 1rem;
            cursor: pointer;
        }
    </style>
    <!-- <script>
        callAPI();
        async function callAPI() {
            var app = new Vue({
                el: '#app',
                data: {
                    productList: Object
                },
                methods: {

                },
                mounted: async function () {
                    const response = await fetch("/orderTable/ViewAllTable");
                    var jsonResponse = await response.json();
                    this.productList = jsonResponse;

                    console.log(this.productList);
                }
            })
        }

    </script> -->
    <script>
        var proApi = 'http://localhost:3000/orderTable/ViewAllTable';
        var Api = 'http://localhost:3000/home/getData';
        var ApiStatus = 'http://localhost:3000/orderTable/checkStatus';
        var NT = document.getElementById("NT");

        ///
        createPro()
        async function createPro() {
            var option = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify()

            }
            const response = await fetch(proApi, option);
            var data = await response.json();
            console.log(data);
            var htmlStr = "";
            // var htmlStr2 = "";
            for (var i = 0; i < data.length; i++) {
                htmlStr += `<div class="table" onclick="clickItem('${data[i].NameTable}')">
                <div class="title">
                    <input class="title" name="NameTable"  data-id="${data[i].NameTable}" hidden>${data[i].NameTable}
                </div>

                <div class="descripstion">
                    <input class="title" name="Position" data-id="${data[i].Position}" hidden>${data[i].Position}
                </div>


            </div>`;

            }
            NT.innerHTML = htmlStr;
        }
        ///
        async function requestData(data) {
            var option = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)

            }
            const response = await fetch(Api, option);
            var logdata = await response.json();
            console.log(logdata);
            window.location = "http://localhost:3000/home";
        }
        function clickItem(NameTable) {
            var data = {
                NameTable: NameTable,
            }
            requestData(data)
        }

        ///Status
        function clickItem2(NameTable) {
            var data = {
                SoBan: NameTable,
            }
            requestData2(data)
        }
        var proApi3 = 'http://localhost:3000/Order/getNumberTable';

        async function requestData2(data) {
            var option = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)

            }
            const response = await fetch(proApi3, option);
            var logdata = await response.json();
            console.log(logdata);
            window.location = "http://localhost:3000/Order";
        }

        async function status() {
            var option = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify()

            }
            const response = await fetch(ApiStatus, option);
            var data = await response.json();
            console.log(data)
            var htmlStr = "";
            for (var i = 0; i < data.length; i++) {
                htmlStr += `<div class="table" onclick="clickItem2('${data[i].NameTable}')">
                <div class="title">
                    <input class="title" name="NameTable"  data-id="${data[i].NameTable}" hidden>${data[i].NameTable}
                </div>

                <div class="descripstion">
                    <input class="title" name="Position" data-id="${data[i].Price}" hidden>${data[i].Price}
                </div>
                <div class="descripstion">
                    <input class="title" name="Position" data-id="${data[i].ManyPeople}" hidden>${data[i].ManyPeople}/Nguoi
                </div>


            </div>`;

            }
            NT.innerHTML = htmlStr;
        }

        function Click() {
            status()
        }
        function Back() {
            createPro()
        }


    </script>

</body>

</html>