<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./public/css/style.css">
  <title>Page for choose your option</title>
</head>

<body>
  <div class="Choose-menu">
    <div class="Choose-title">
      <h3>Buffet</h3>
      <h3 id="NT">

      </h3>
    </div>
    <ul class="choose-list" id="demo">
      <!-- <li class="choose-item">169K</li>
      <li class="choose-item">269k</li>
      <li class="choose-item">369K</li> -->
    </ul>
  </div>

  <script>
    var proApi = 'http://localhost:3000/home/listBuffet';
    var proApi2 = 'http://localhost:3000/home/dataTable';
    var demo = document.getElementById("demo");
    var NT = document.getElementById("NT");
    createPro();
    async function createPro() {
      var option = {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify()

      }
      const response = await fetch(proApi, option);
      var data = await response.json();
      console.log(data);

      var htmlStr = "";
      for (var i = 0; i < data.length; i++) {
        htmlStr += `<li class="choose-item">${data[i].Price}</li>`;
      }
      demo.innerHTML = htmlStr;
    }


    createPro2()
    async function createPro2() {
      var option = {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify()

      }
      const response = await fetch(proApi2, option);
      var data = await response.json();
      console.log(data);
      var htmlStr = "";
      htmlStr += `<div style="color: red;">${data.NameTableNow}</div>`;
      NT.innerHTML = htmlStr;
    }
  </script>

</body>

</html>