<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./public/css/style.css">
  <title>Page for choose your option</title>
</head>

<body>
  <div class="Choose-menu">
    <div class="Choose-title">
      <h3>Buffet</h3>
      <h3>
        <%= data.name %>
      </h3>
    </div>
    <ul class="choose-list">
      <li class="choose-item">169K</li>
      <li class="choose-item">269k</li>
      <li class="choose-item">369K</li>
    </ul>
  </div>

  <div class="divClass" id="demo">null</div>
  <!-- <script>
    callAPi();
    async function callAPi() {
      var demo = document.getElementById("demo");
      const response = await fetch("http://localhost:3000/food");
      var data = await response.json();
      console.log(data);
      var htmlStr = "";
      for (var i = 0; i < data.length; i++) {
        htmlStr += `<div onclick="clickItem('${data[i]._id}')"> ${data[i]._id}  ---  ${data[i].CategoryFood} ---  ${data[i].Price} </div>`;
      }
      demo.innerHTML = htmlStr;
    }
  </script> -->
</body>

</html>