<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header_logo">
            <div class="header_title">PTD</div>
            <marquee behavior="scroll" direction="left">Quý khách xin lưu ý: 1:gia vị và nước ngọt tự tính phí theo đầu
                người</marquee>
        </div>

        <div class="header_user">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" class="header__user-img">
            <span class="user-name">Thành Đạt</span>

            <ul class="user-menu">
                <li class="user-item">
                    <a href="">Tài khoản của tôi</a>
                </li>
                <li class="user-item">
                    <a href="">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <nav class="category">
            <h3 class="category__heading">
                Danh mục
            </h3>
            <ul class="category-list">
                <li class="category-item active">
                    <a href="#" class="category-item__link">Giới thiệu món mới</a>
                </li>
                <li class="category-item">
                    <a href="#" class="category-item__link">Món ăn được yêu thích</a>
                </li>
                <li class="category-item">
                    <a href="#" class="category-item__link">Món mặn</a>
                </li>
                <li class="category-item">
                    <a href="#" class="category-item__link">Món rau, đậu</a>
                </li>
                <li class="category-item">
                    <a href="#" class="category-item__link">Món ăn vặt</a>
                </li>
            </ul>
        </nav>

        <div class="content">
            <div class="food">
                <div class="food-img">
                    <img src="https://t.vietgiaitri.com/2020/2/7/cach-lam-sui-cao-nhan-tom-thit-mem-min-dam-da-vi-trung-hoa-959.jpg"
                        alt="">
                </div>
                <div class="food-order">
                    <div class="food-info">
                        <div class="food-title">Sủi cảo tôm</div>
                        <div class="food-price">50000đ</div>
                    </div>
                    <button class="food-order-btn">+</button>
                </div>

            </div>
            <div class="food">
                <div class="food-img">
                    <img src="https://t.vietgiaitri.com/2020/2/7/cach-lam-sui-cao-nhan-tom-thit-mem-min-dam-da-vi-trung-hoa-959.jpg"
                        alt="">
                </div>
                <div class="food-order">
                    <div class="food-info">
                        <div class="food-title">Sủi cảo tôm</div>
                        <div class="food-price">50000đ</div>
                    </div>
                    <button class="food-order-btn">+</button>
                </div>

            </div>
            <div class="food">
                <div class="food-img">
                    <img src="https://t.vietgiaitri.com/2020/2/7/cach-lam-sui-cao-nhan-tom-thit-mem-min-dam-da-vi-trung-hoa-959.jpg"
                        alt="">
                </div>
                <div class="food-order">
                    <div class="food-info">
                        <div class="food-title">Sủi cảo tôm</div>
                        <div class="food-price">50000đ</div>
                    </div>
                    <button class="food-order-btn">+</button>
                </div>

            </div>
            <div class="food">
                <div class="food-img">
                    <img src="https://t.vietgiaitri.com/2020/2/7/cach-lam-sui-cao-nhan-tom-thit-mem-min-dam-da-vi-trung-hoa-959.jpg"
                        alt="">
                </div>
                <div class="food-order">
                    <div class="food-info">
                        <div class="food-title">Sủi cảo tôm</div>
                        <div class="food-price">50000đ</div>
                    </div>
                    <button class="food-order-btn">+</button>
                </div>

            </div>
            <div class="food">
                <div class="food-img">
                    <img src="https://t.vietgiaitri.com/2020/2/7/cach-lam-sui-cao-nhan-tom-thit-mem-min-dam-da-vi-trung-hoa-959.jpg"
                        alt="">
                </div>
                <div class="food-order">
                    <div class="food-info">
                        <div class="food-title">Sủi cảo tôm</div>
                        <div class="food-price">50000đ</div>
                    </div>
                    <button class="food-order-btn">+</button>
                </div>

            </div>
            <div class="food">
                <div class="food-img">
                    <img src="https://t.vietgiaitri.com/2020/2/7/cach-lam-sui-cao-nhan-tom-thit-mem-min-dam-da-vi-trung-hoa-959.jpg"
                        alt="">
                </div>
                <div class="food-order">
                    <div class="food-info">
                        <div class="food-title">Sủi cảo tôm</div>
                        <div class="food-price">50000đ</div>
                    </div>
                    <button class="food-order-btn">+</button>
                </div>

            </div>

            <div class="cart">
                <div class="cart-left">
                    <div class="cart-wrap">
                        <i class="cart-icon fa-solid fa-cart-shopping"></i>
                        <span class="cart-notice">3</span>
                    </div>
                    <div class="total-price">210000 đ</div>
                </div>
                <div class="cart-right">
                    Giỏ hàng
                </div>
            </div>
        </div>

    </div>
    </div>
</body>

</html>